# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
build

# IDE - VSCode
.vscode
# !.vscode/settings.json
!.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

yarn-error.log

.history
package-lock.json

# Coverage reports
coverage

# Dependency directory
node_modules

# ignore yarn.lock
yarn.lock
